.footer {
    width: px2rem(750px);
    padding: px2rem(30px) 0 px2rem(180px);
    background: $lan;
    font: px2rem(24px) / 1.5em "Microsoft Yahei", sans-serif;
    text-align: center;
    color: $bai;
}
