body,
div,
h1,
h2,
h3,
h4,
h5,
span,
a,
img,
input,
ul,
li,
ol,
dl,
dt,
dd,
table,
tr,
td,
p {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    width: 100%;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}
